<section class="categorie">
  <h2 class="categorie_title">Catégories</h2>
  <p class="categorie_presentation">Choissiez une catégorie pour voir le quiz</p>
  <form action="" class="categorie_form">
    <label for="name">Catégories</label>
    <input type="text" id="name" name="name" placeholder="Recherchez une catégorie" [(ngModel)]="input" 
      (ngModelChange)="filterCategories()" >
    <button class="btn--icon" (click)="test()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
      </svg>
    </button>
  </form>
  <div *ngFor="let category of filteredCategories">
    <button (click)="goToCategory(category.id)" class="btn">{{ category.name }}</button>
  </div>
</section>